transport select swd

# Physical reset is the system reset path on this platform:
reset_config srst_only srst_push_pull
adapter srst pulse_width 100
adapter srst delay 100

bindto 0.0.0.0
gdb breakpoint_override hard
telnet port disabled
tcl port disabled

if { [info exists CORE_COUNT] } {
    set _CORE_COUNT $CORE_COUNT
} else {
    set _CORE_COUNT 1
}

if { $_CORE_COUNT < 1 || $_CORE_COUNT > 8 } {
    error "CORE_COUNT must be between 1 and 8"
}

if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME aarch64
}

# CoreSight Debug Access Port
if { [info exists DAP_TAPID] } {
    set _DAP_TAPID $DAP_TAPID
} else {
	if {[using_jtag]} {
		set _DAP_TAPID 0x4BA00477
	} else {
		set _DAP_TAPID 0x2BA01477
	}
	# set _DAP_TAPID 0x00000000
}

if {[using_jtag]} {
	jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_DAP_TAPID
} else {
	swd newdap $_CHIPNAME cpu -expected-id $_DAP_TAPID
}

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

set _TARGETNAME $_CHIPNAME.cpu

for {set _core 0} {$_core < $_CORE_COUNT} {incr _core} {
    set _cti_name cti$_core
    set _cti_base [format "0x%08x" [expr {0x81020000 + ($_core << 20)}]]
    set _dbg_base [format "0x%08x" [expr {0x81010000 + ($_core << 20)}]]
    cti create $_cti_name -dap $_CHIPNAME.dap -baseaddr $_cti_base -ap-num 0
    target create $_TARGETNAME.core$_core aarch64 -dap $_CHIPNAME.dap -coreid $_core -cti $_cti_name -dbgbase $_dbg_base
    $_TARGETNAME.core$_core configure -event reset-deassert-post { aarch64 dbginit }
}


init
# aarch64 cache_info 
# aarch64 smp on
# halt
# dap info 0
for {set _core 0} {$_core < $_CORE_COUNT} {incr _core} {
    targets $_TARGETNAME.core$_core
    echo "[target current] init"
    aarch64 dbginit
    halt
}

targets $_TARGETNAME.core0
targets
