# Interface Config
source [find interface/jlink.cfg]
# transport select jtag
transport select swd
adapter speed 400

# Discovery should also use the board physical reset path so DAP probing can
# work in connect-under-reset scenarios.
reset_config srst_only
adapter srst pulse_width 100
adapter srst delay 100

if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME aarch64
}

# CoreSight Debug Access Port
if { [info exists DAP_TAPID] } {
    set _DAP_TAPID $DAP_TAPID
} else {
	# if {[using_jtag]} {
	# 	set _DAP_TAPID 0x4BA00477
	# } else {
	# 	set _DAP_TAPID 0x2BA01477
	# }
	set _DAP_TAPID 0x00000000
}

if {[using_jtag]} {
	jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_DAP_TAPID
} else {
	swd newdap $_CHIPNAME cpu -expected-id $_DAP_TAPID
}

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

# add aarch64 core
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME.core0 aarch64 -dap $_CHIPNAME.dap

init
dap info 0
